#
# Copyright (C) 2022-2023 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on property:ro.boot.hw_region_id=2 && property:ro.boot.prjname=23871
    setprop ro.boot.hardware.revision "NA"